{%- macro inputPkChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="Championship_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-bracketId={{ result.bracketId | tojson }}
                      class="label-on-left Championship_{{classApiMethodMethod}}_pk setPk classChampionship inputChampionship{{ result.bracketId }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_pk setPk classChampionship inputChampionship{{ result.bracketId }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_pk valuePk classChampionship inputChampionship{{ result.bracketId }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left Championship_{{classApiMethodMethod}}_created datetimepicker setCreated classChampionship inputChampionship{{ result.bracketId }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="Championship_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-bracketId={{ result.bracketId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left Championship_{{classApiMethodMethod}}_modified datetimepicker setModified classChampionship inputChampionship{{ result.bracketId }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="Championship_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-bracketId={{ result.bracketId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="Championship_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left Championship_{{classApiMethodMethod}}_archived classChampionship inputChampionship{{ result.bracketId }}Archived "
                      name="setArchived"
                      data-bracketId={{ result.bracketId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="Championship_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="Championship_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_archived classChampionship inputChampionship{{ result.bracketId }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_archived classChampionship inputChampionship{{ result.bracketId }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_archived setArchived valueArchived classChampionship inputChampionship{{ result.bracketId }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-bracketId={{ result.bracketId | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputFinalFourChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_finalFour">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_finalFour{{ idSuffix }}_clear"
                        class="label-on-left Championship_classApiMethodMethod}}_finalFour_clear finalFour_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="Final Four bracket"
                      label="Final Four bracket"
                      hint="The Final Four bracket of this tournament"
                      class="label-on-left Championship_{{classApiMethodMethod}}_finalFour valueObjectSuggest suggestFinalFour "
                      name="setFinalFour"
                      id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_finalFour{{ idSuffix }}"
                      data-list="listChampionshipFinalFour_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod or 'POST' == classApiMethodMethod -%}
                      value="{{result.finalFour | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmFinalFourChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputFinalFourChampionshipPage(authForWrite=authForWrite, authForRead=authForRead, idSuffix=idSuffix) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a final four bracket to this championship bracket
                </div>
                <ul class="label-on-left-ul " id="listChampionshipFinalFour_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postFinalFour(idSuffix='_Championship_POST_finalFour') }}
                  <wa-button
                       id="Championship_{{classApiMethodMethod}}_finalFour_add"
                       data-dialog="open postFinalFourDialog"
                      >add a final four bracket</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputGuesserIdChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_guesserId">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_guesserId{{ idSuffix }}_clear"
                        class="label-on-left Championship_classApiMethodMethod}}_guesserId_clear guesserId_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="guesser"
                      label="guesser"
                      hint="The ID of this guesser"
                      class="label-on-left Championship_{{classApiMethodMethod}}_guesserId valueObjectSuggest suggestGuesserId "
                      name="setGuesserId"
                      id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_guesserId{{ idSuffix }}"
                      data-list="listChampionshipGuesserId_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod or 'POST' == classApiMethodMethod -%}
                      value="{{result.guesserId | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmGuesserIdChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputGuesserIdChampionshipPage(authForWrite=authForWrite, authForRead=authForRead, idSuffix=idSuffix) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a guesser to this championship bracket
                </div>
                <ul class="label-on-left-ul " id="listChampionshipGuesserId_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postGuesser(idSuffix='_Championship_POST_guesserId') }}
                  <wa-button
                       id="Championship_{{classApiMethodMethod}}_guesserId_add"
                       data-dialog="open postGuesserDialog"
                      >add a guesser</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputCorrectGuessesChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_correctGuesses">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[Integer] correct guesses"
                      label="correct guesses"
                      type="number"
                      hint="The number of correct guesses in this Championship bracket"
                      id="Championship_{{classApiMethodMethod}}_correctGuesses"
  {%- if "Page" == classApiMethodMethod %}
                      data-bracketId={{ result.bracketId | tojson }}
                      class="label-on-left Championship_{{classApiMethodMethod}}_correctGuesses setCorrectGuesses classChampionship inputChampionship{{ result.bracketId }}CorrectGuesses "
                      name="setCorrectGuesses"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_correctGuesses setCorrectGuesses classChampionship inputChampionship{{ result.bracketId }}CorrectGuesses "
                      name="setCorrectGuesses"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_correctGuesses valueCorrectGuesses classChampionship inputChampionship{{ result.bracketId }}CorrectGuesses "
                      name="correctGuesses"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.correctGuesses | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCorrectGuessesChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCorrectGuessesChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputYearChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_year">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[Integer] year"
                      label="year"
                      type="number"
                      hint="The year of the tournament"
                      id="Championship_{{classApiMethodMethod}}_year"
  {%- if "Page" == classApiMethodMethod %}
                      data-bracketId={{ result.bracketId | tojson }}
                      class="label-on-left Championship_{{classApiMethodMethod}}_year setYear classChampionship inputChampionship{{ result.bracketId }}Year "
                      name="setYear"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_year setYear classChampionship inputChampionship{{ result.bracketId }}Year "
                      name="setYear"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_year valueYear classChampionship inputChampionship{{ result.bracketId }}Year "
                      name="year"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.year | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmYearChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputYearChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputIncorrectGuessesChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_incorrectGuesses">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[Integer] incorrect guesses"
                      label="incorrect guesses"
                      type="number"
                      hint="The number of incorrect guesses in this Championship bracket"
                      id="Championship_{{classApiMethodMethod}}_incorrectGuesses"
  {%- if "Page" == classApiMethodMethod %}
                      data-bracketId={{ result.bracketId | tojson }}
                      class="label-on-left Championship_{{classApiMethodMethod}}_incorrectGuesses setIncorrectGuesses classChampionship inputChampionship{{ result.bracketId }}IncorrectGuesses "
                      name="setIncorrectGuesses"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_incorrectGuesses setIncorrectGuesses classChampionship inputChampionship{{ result.bracketId }}IncorrectGuesses "
                      name="setIncorrectGuesses"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_incorrectGuesses valueIncorrectGuesses classChampionship inputChampionship{{ result.bracketId }}IncorrectGuesses "
                      name="incorrectGuesses"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.incorrectGuesses | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmIncorrectGuessesChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputIncorrectGuessesChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputGame1WinnerGuessChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_game1WinnerGuess">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[String] game 1 guess"
                      label="game 1 guess"
                      id="Championship_{{classApiMethodMethod}}_game1WinnerGuess"
  {%- if "Page" == classApiMethodMethod %}
                      data-bracketId={{ result.bracketId | tojson }}
                      class="label-on-left Championship_{{classApiMethodMethod}}_game1WinnerGuess setGame1WinnerGuess classChampionship inputChampionship{{ result.bracketId }}Game1WinnerGuess "
                      name="setGame1WinnerGuess"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_game1WinnerGuess setGame1WinnerGuess classChampionship inputChampionship{{ result.bracketId }}Game1WinnerGuess "
                      name="setGame1WinnerGuess"
    {%- else %}
                      class="label-on-left Championship_{{classApiMethodMethod}}_game1WinnerGuess valueGame1WinnerGuess classChampionship inputChampionship{{ result.bracketId }}Game1WinnerGuess "
                      name="game1WinnerGuess"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.game1WinnerGuess | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmGame1WinnerGuessChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputGame1WinnerGuessChampionshipPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputGame1WinnerChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_game1Winner">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_game1Winner{{ idSuffix }}_clear"
                        class="label-on-left Championship_classApiMethodMethod}}_game1Winner_clear game1Winner_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="game 1 winner"
                      label="game 1 winner"
                      class="label-on-left Championship_{{classApiMethodMethod}}_game1Winner valueObjectSuggest suggestGame1Winner "
                      name="setGame1Winner"
                      id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_game1Winner{{ idSuffix }}"
                      data-list="listChampionshipGame1Winner_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod or 'POST' == classApiMethodMethod -%}
                      value="{{result.game1Winner | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmGame1WinnerChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputGame1WinnerChampionshipPage(authForWrite=authForWrite, authForRead=authForRead, idSuffix=idSuffix) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a team to this championship bracket
                </div>
                <ul class="label-on-left-ul " id="listChampionshipGame1Winner_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postTeam(idSuffix='_Championship_POST_game1Winner') }}
                  <wa-button
                       id="Championship_{{classApiMethodMethod}}_game1Winner_add"
                       data-dialog="open postTeamDialog"
                      >add a team</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}
{%- macro inputGame1LoserChampionshipPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_game1Loser">
  {%- endif %}
  {%- if 'PUTCopy' == classApiMethodMethod %}
                  <div>
                    <wa-checkbox 
                        id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_game1Loser{{ idSuffix }}_clear"
                        class="label-on-left Championship_classApiMethodMethod}}_game1Loser_clear game1Loser_clear "
                        hint="clear"
                        >
                      clear
                    </wa-checkbox>
                  </div>
  {%- endif %}
                  <wa-input
                      type="text"
                      placeholder="game 1 loser"
                      label="game 1 loser"
                      class="label-on-left Championship_{{classApiMethodMethod}}_game1Loser valueObjectSuggest suggestGame1Loser "
                      name="setGame1Loser"
                      id="{{ idPrefix }}Championship_{{classApiMethodMethod}}_game1Loser{{ idSuffix }}"
                      data-list="listChampionshipGame1Loser_{{classApiMethodMethod}}"
                      data-method="{{classApiMethodMethod}}"
                      autocomplete="off"
  {% if 'Page' == classApiMethodMethod or 'POST' == classApiMethodMethod -%}
                      value="{{result.game1Loser | e }}"
  {% endif -%}
                  >
              </wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmGame1LoserChampionshipPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                {{ inputGame1LoserChampionshipPage(authForWrite=authForWrite, authForRead=authForRead, idSuffix=idSuffix) }}
                <div class="label-on-left-ul-label ">
                  <i class="{{ FONTAWESOME_STYLE }} fa-search "></i>
                  relate a team to this championship bracket
                </div>
                <ul class="label-on-left-ul " id="listChampionshipGame1Loser_{{classApiMethodMethod}}">
                </ul>
                {%- if authForReadBool == true %}
                {% if 'Page' == classApiMethodMethod %}
                <div>
                  {{ htmForm_postTeam(idSuffix='_Championship_POST_game1Loser') }}
                  <wa-button
                       id="Championship_{{classApiMethodMethod}}_game1Loser_add"
                       data-dialog="open postTeamDialog"
                      >add a team</wa-button>
                  </div>
                {%- endif %}
                {%- endif %}
{%- endmacro %}

{%- macro htmFormButton_patchChampionship() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchChampionship" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchChampionship"
                >Modify championship bracket</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchChampionship"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchChampionship(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchChampionshipDialog" label="Modify championship bracket">
          <form id="htmForm_patchChampionship" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="earlier-tournaments">
              <div slot="summary">
                <span>earlier tournaments</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="game-1">
              <div slot="summary">
                <span>game 1</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchChampionship() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postChampionship() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postChampionship" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postChampionship"
                >Create a championship bracket</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postChampionship"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postChampionship(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postChampionshipDialog" label="Create a championship bracket">
          <form id="htmForm_postChampionship" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="earlier-tournaments">
              <div slot="summary">
                <span>earlier tournaments</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="game-1">
              <div slot="summary">
                <span>game 1</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postChampionship() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteChampionship() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteChampionship" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteChampionship"
                >Delete championship bracket</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteChampionship"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteChampionship(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteChampionshipDialog" label="Delete championship bracket">
          <form id="htmForm_deleteChampionship" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteChampionship() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportChampionship() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportChampionship" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportChampionship"
                >Import championship brackets</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportChampionship"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportChampionship(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportChampionshipDialog" label="Import championship brackets">
          <form id="htmForm_putimportChampionship" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'bracketId': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportChampionship() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageChampionship(idSuffix='') %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageChampionshipDialog" label="Search championship brackets">
          <div id="htmForm_searchpageChampionship" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPkChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCreatedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmModifiedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmArchivedChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="earlier-tournaments">
              <div slot="summary">
                <span>earlier tournaments</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmFinalFourChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGuesserIdChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmYearChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmIncorrectGuessesChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="game-1">
              <div slot="summary">
                <span>game 1</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerGuessChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1WinnerChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmGame1LoserChampionshipPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterChampionship() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterChampionship" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterChampionship"
                >Delete championship bracket</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterChampionship"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterChampionship(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterChampionshipDialog" label="Delete championship bracket">
          <form id="htmForm_deletefilterChampionship" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterChampionship() }}
        </wa-dialog>
{%- endmacro %}
