{% include en-us/search/sweet-sixteen/SweetSixteenSearchFormMacros.htm %}
{% include en-us/search/guesser/GuesserSearchFormMacros.htm %}
{% include en-us/search/team/TeamSearchFormMacros.htm %}
{% include en-us/search/elite-eight/EliteEightSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchSweetSixteen() }}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postSweetSixteen() }}
  {%- else %}
    {{ htmForm_postSweetSixteen() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteSweetSixteen() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportSweetSixteen() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterSweetSixteen() }}
  {%- else %}
  {%- endif %}
{%- endif %}
