{% include en-us/search/guesser/GuesserSearchFormMacros.htm %}
{% include en-us/search/sweet-sixteen/SweetSixteenSearchFormMacros.htm %}
{% include en-us/search/elite-eight/EliteEightSearchFormMacros.htm %}
{% include en-us/search/final-four/FinalFourSearchFormMacros.htm %}
{% include en-us/search/championship/ChampionshipSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchGuesser() }}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postGuesser() }}
  {%- else %}
    {{ htmForm_postGuesser() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteGuesser() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportGuesser() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterGuesser() }}
  {%- else %}
  {%- endif %}
{%- endif %}
