{%- macro inputPkGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="Guesser_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-guesserId={{ result.guesserId | tojson }}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_pk setPk classGuesser inputGuesser{{ result.guesserId }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_pk setPk classGuesser inputGuesser{{ result.guesserId }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_pk valuePk classGuesser inputGuesser{{ result.guesserId }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{Guesser_classApiMethodMethod}}_created datetimepicker setCreated classGuesser inputGuesser{{ result.guesserId }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="Guesser_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-guesserId={{ result.guesserId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{Guesser_classApiMethodMethod}}_modified datetimepicker setModified classGuesser inputGuesser{{ result.guesserId }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="Guesser_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-guesserId={{ result.guesserId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="Guesser_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{Guesser_classApiMethodMethod}}_archived classGuesser inputGuesser{{ result.guesserId }}Archived "
                      name="setArchived"
                      data-guesserId={{ result.guesserId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="Guesser_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="Guesser_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_archived classGuesser inputGuesser{{ result.guesserId }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_archived classGuesser inputGuesser{{ result.guesserId }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_archived setArchived valueArchived classGuesser inputGuesser{{ result.guesserId }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-guesserId={{ result.guesserId | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] guesser name"
                      label="guesser name"
                      hint="The name of this guesser"
                      required
                      id="Guesser_{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-guesserId={{ result.guesserId | tojson }}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_name setName classGuesser inputGuesser{{ result.guesserId }}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_name setName classGuesser inputGuesser{{ result.guesserId }}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_name valueName classGuesser inputGuesser{{ result.guesserId }}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.name | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionGuesserPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead, idPrefix='', idSuffix='') %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] description"
                      label="description"
                      hint="A description of this guesser"
                      id="Guesser_{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-guesserId={{ result.guesserId | tojson }}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_description setDescription classGuesser inputGuesser{{ result.guesserId }}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_description setDescription classGuesser inputGuesser{{ result.guesserId }}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{Guesser_classApiMethodMethod}}_description valueDescription classGuesser inputGuesser{{ result.guesserId }}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.description | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionGuesserPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionGuesserPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchGuesser() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchGuesser" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchGuesser"
                >Modify guesser</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchGuesser"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchGuesser(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchGuesserDialog" label="Modify guesser">
          <form id="htmForm_patchGuesser" class="round-row primary-smart-border-radius ">

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmNameGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchGuesser() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postGuesser() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postGuesser" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postGuesser"
                >Create a guesser</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postGuesser"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postGuesser(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postGuesserDialog" label="Create a guesser">
          <form id="htmForm_postGuesser" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmNameGuesserPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postGuesser() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteGuesser() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteGuesser" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteGuesser"
                >Delete guesser</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteGuesser"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteGuesser(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteGuesserDialog" label="Delete guesser">
          <form id="htmForm_deleteGuesser" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteGuesser() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportGuesser() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportGuesser" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportGuesser"
                >Import guessers</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportGuesser"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportGuesser(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportGuesserDialog" label="Import guessers">
          <form id="htmForm_putimportGuesser" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'guesserId': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportGuesser() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageGuesser(idSuffix='') %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageGuesserDialog" label="Search guessers">
          <div id="htmForm_searchpageGuesser" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmPkGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmCreatedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmModifiedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmArchivedGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="guesser-details">
              <div slot="summary">
                <span>guesser details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmNameGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true, idSuffix=idSuffix) }}
                {% else -%}
                {{ htmDescriptionGuesserPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false, idSuffix=idSuffix }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterGuesser() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterGuesser" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterGuesser"
                >Delete guesser</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterGuesser"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterGuesser(idSuffix='') %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterGuesserDialog" label="Delete guesser">
          <form id="htmForm_deletefilterGuesser" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterGuesser() }}
        </wa-dialog>
{%- endmacro %}
